.asset-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
}

.trade-form {
  position: relative;
  border: 1px solid var(--light-gray);
  box-shadow: 0 0 4px 1px rgba(0,0,0,.01),
    0 3px 24px rgba(48,51,51,.09);
  padding: 0 24px;
}

.trade-form-header {
  padding-top: 16px;
  padding-left: 24px;
  padding-bottom: 13px;
  margin: 0 -24px;
  border-bottom: 1px solid var(--light-gray);
}

.trade-form form {
  padding: 16px 0 24px;
  display: flex;
  flex-direction: column;
}

.trade-form button {
  display: inline-flex;
  background-color: var(--main-green);
  color: #fff;
  padding: 13px 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.trade-form button:hover {
  background-color: var(--medium-green);
}

.trade-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
}

.trade-form-row svg {
  margin-right: 8px
}


.trade-form-row input {
  max-width: 25%;
  text-align: right;
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

.trade-form-row input:hover {
  background-color: #fff;
  border: 1px solid var(--gray);
  box-shadow: none;
}

.trade-form-row input:focus {
  background-color: #fff;
  border: 1px solid var(--gray);
  box-shadow: none;
}

.watchlist-button {
  /* position: fixed; */
  margin: 24px 24px 0;
  border: 1px solid var(--main-green);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: var(--main-green);
}

.watchlist-button:hover {
  border-color: var(--medium-green);
  color: var(--medium-green);
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.col-1-3 {
  display: block;
  width: 27.8%;
  position: relative;
}


.col-2-3 {
  display: block;
  width: 66.6%;
  position: relative;
}

.asset-show-main{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.asset-show-main h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}

.asset-show-main h2 {
  font-size: 30px;
}

.display-nums {
  font-size: 36px;
  line-height: 42px;
}

.asset-show-header {
  margin-bottom: 10px;
}

.the-chart {
  box-sizing: content-box;
  margin-bottom: 40px;
  width: 676px;
  font-size: 13px;
  line-height: 19px;
}

.the-chart ul {
  display: flex;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 10px;
  margin-top: 20px;
}

.the-chart button {
  margin-right: 12px;
  padding-bottom: 12px;
  margin-bottom: 2px;
  font-weight: bold;
}

.the-chart button:hover {
  color: var(--main-green);
}

.chart-header {
  display: flex;
}

.selected-time-frame {
  border-bottom: 2px solid var(--main-green);
  color: var(--main-green);
}

.asset-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#show-hide {
  background-color: white;
  color: var(--main-green);
}

#show-hide:hover {
  color: var(--medium-green);
}

.asset-about h3 {
  margin-bottom: 20px;
}

.asset-about button {
  font-weight: bold;
  background-color: var(--light-green);
  border: 1px var(--light-green);
  color: var(--main-green);
  border-radius: 17px;
  padding: 4px 12px;
  margin-right: 10px;
}

.asset-about button:hover {
  background-color: var(--main-green);
  color: #fff;
}

.asset-about-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.asset-about-detail li {
  width: 25%;
  margin-bottom: 12px;
}

.asset-about-detail a {
  color: var(--main-green);
  font-weight: bold;
}

.hidden {
  display: none;
}

.showing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.about-span {
  margin-bottom: 60px;
}

.news-item a {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.news-item img {
  height: 134px;
  width: 196px;
}

.news-item:hover {
  background-color: var(--light-gray);
}

.news-item-col2 {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-height: 134px;
  overflow: hidden;
  text-overflow: clip;
}

.news-item-body {
  margin: 4px 0;
  font-size: 13px;
}

.news-item-body h3 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 2px;
}

.news-item-header {
  font-size: 13px;
}

.bold {
  font-weight: bold;
}

.news-date {
  margin-left: 6px;
}
