.dash-sidebar {
  border: 1px solid var(--light-gray);
  box-shadow: 0 0 4px 1px rgba(0,0,0,.01),
    0 3px 24px rgba(48,51,51,.09);
  min-width: 298px;
  position: fixed;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.holdings-form {
  position: relative;
  min-width: 298px;
  /* border: 1px solid var(--light-gray);
  box-shadow: 0 0 4px 1px rgba(0,0,0,.01),
    0 3px 24px rgba(48,51,51,.09); */
}

.holdings-header {
  display: flex;
  padding-top: 4px;
  height: 51px;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
}

.holdings-header h3 {
  padding-left: 24px;
}

.holdings-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 60px;
  border-bottom: 1px solid var(--light-gray);
}

.holdings-form-row:hover {
  background-color: var(--light-gray);
}

.holdings-symbol {
  margin-right: 12px;
}

.holdings-form-row h3 {
  margin-left: 12px;
  font-size: 16px;
  line-height: 22px;
}

.holdings-form-row h4, h5 {
  font-size: 13px;
  line-height: 19px;
}

.watchlist-form {
  position: relative;
  min-width: 298px;
  /* border: 1px solid var(--light-gray);
  box-shadow: 0 0 4px 1px rgba(0,0,0,.01),
    0 3px 24px rgba(48,51,51,.09); */
}

.pie-charts {
  margin-top: 40px;
  display: flex;
}

.long-pie, .short-pie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
