html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
  font-size: 13px;
  line-height: 19px;
  background-color: #fff;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
  line-height: 22px;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.dark-gray {
  color: var(--dark-gray);
}

.main-content {
  /* padding-top: 36px; */
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.main {
  /* padding-top: 64px; */
  position: relative;
}
