html, body {
  height: 100%;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 19px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.main-content {
  width: 1024px;
  margin: 0 auto;
}
