html, body {
  height: 100%;
  font-size: 13px;
  line-height: 19px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.main-content {
  width: 1024px;
  margin: 0 auto;
}

.main {
  padding-top: 64px;
  display: flex;
}

:root {
  --main-green: #21ce99;
  --light-green: rgb(230, 249, 243);
  --black: #171718;
  --light-gray: #F4F4F8;
}
