.greeting-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  background-color: white;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1;
}

.greeting-container img {
  width: 48px;
  height: 48px;
  background-color: lime;
  position: absolute;
  top: 15px;
  left: 3%;
}

.greet-links {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  right: 48px;
}

.greeting-container input {
  border: 1px solid black;
  width: 500px;
  height: 36px;
  margin-left: 0;
}

.greeting-container-middle {
  display: block;
  margin: 0 auto;
  width: 1024px;
}

.greeting-flex {
  display: flex;
  justify-content: space-between;
}
