.greeting-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  background-color: white;
  padding-top: 14px;
  box-sizing: border-box;
  z-index: 1;
}

.greeting-logo {
  display: block;
  box-sizing: border-box;
  position: relative;
  left: 20px;
}

.greeting-logo svg {
  width: 48px;
  height: 48px;
  display: inline;
  fill: var(--black);
}

.greeting-logo svg:hover {
  fill: var(--main-green);
  transition: 6s cubic-bezier(0, 1, 1, 0);
}

.greeting-search {
  display: block;
  flex-basis: 480px;
  position: relative;
}

.greeting-search form {
  width: 100%;
}

.search-results {
  padding: 0 6px;
  width: 100%;
  position: absolute;
  background-color: white;
  border: 0 1px 1px 1px solid transparent;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.01),
    0 11px 24px rgba(48,51,51,.09);
}

.greet-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* position: absolute;
  top: 20px;
  right: 48px; */
}

.greet-links button {
  margin-left: 33px;
}

.greeting-container input {
  padding: 0 6px;
  border: 1px solid transparent;
  width: 100%;
  height: 36px;
  margin-left: 0;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.01),
    0 3px 24px rgba(48,51,51,.09);
}

.greeting-container input:hover, input:focus {
  box-shadow: 0 0 4px 1px rgba(0,0,0,.01),
    0 3px 24px rgba(48,51,51,.09);
}

.greeting-container-middle {
  display: block;
  margin: 0 auto;
  /* margin-left: width - 48px; */
  /* margin-right: auto; */
  width: 1024px;
}

.greeting-flex {
  display: flex;
  justify-content: space-between;
}

.greet-links a {
  margin-left: 10px;
  color: black;
  font-weight: bold;
}

.greet-links button {
  font-weight: bold;
}

.greet-links a:hover {
  color: var(--main-green);
}

.greet-links button:hover {
  color: var(--main-green);
}
