.splash {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding-top: 64px;
  align-items: center;
  justify-content: center;
}

.dash {
  font-size: 50px;
  line-height: 58px;
}

.left .right {
  width: 50%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.right {
  justify-content: center;
  overflow: hidden;
  padding: 0 15px;
}
.right img {
  float: right;
  width: 452px;
  height: 600px;
}

.left {
  padding: 0 15px;
}

.left a {
    background-color: var(--main-green);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 16px solid var(--main-green);
    border-radius: 15px;
    position: relative;
    display: inline-block;
}

.left-header h1 {
  font-size: 55px;
  line-height: 58px;
  font-weight: bold;
}

.left-header {
  margin-bottom: 30px;
}

.left-words {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  width: 380px;
}
